[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "brisk"]
	path = brisk
	url = https://github.com/rich-payne/brisk
[submodule "dreamer"]
	path = dreamer
	url = https://github.com/rich-payne/dreamer
[submodule "yodel"]
	path = yodel
	url = https://github.com/rich-payne/yodel
