[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "brisk"]
	path = brisk
	url = https://github.com/rich-payne/brisk
	shallow = true
	registered = true
[submodule "dreamer"]
	path = dreamer
	url = https://github.com/rich-payne/dreamer
	shallow = true
	registered = true
